.btn {
    &:link,
    &:visited {
        @extend %btn;
    }

    position: relative;
    z-index: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;                        
    font-size: $font-size-m;
    word-spacing: .5rem;       
    transition: .25s;    

    &::after {
        @extend %btn;
        content: "";        
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;                                
        background-color: inherit;
        opacity: 0;
    }

    &:hover { 
        transform: translate(-50%, -.5rem);
        &::after { animation: faded 1s }
    }
    &:active { transform: translate(-50%, .7rem) }
    
    &--animated { animation: moveInBottom 1.5s ease-in}        
    &--white {
        color: $color-grey-dark; 
        background-color: $color-white; 
    }
    &--dark {
        color: $color-dark; 
        background-color: $color-white
    }
    &--green {
        color: $color-grey-light;
        background-color: $color-primary-light;
    }
}


.btn-text {
    &:link,
    &:visited {
        @extend %btn-text;
        display: inline-block;        
        color: $color-primary-dark;        
        border-bottom: 2px solid $color-primary-dark;        
        transition: .2s;
    }    

    &:hover {                
        transform: translateY(-1rem);
        background-color: $color-primary-light;        
        color: $color-white;
        border-bottom: 2px solid $color-primary-light;        
        box-shadow: 0rem .5rem 1rem rgba($color-dark, .2);
    }    
}