.composition {    
    position: relative;                                    

    .composition__img{
        position: absolute;
        width: 55%;   
        transition: all .3s;        
        z-index: 1;      
        border-radius: 3px;  
        outline-offset: 1rem;
        
        &:hover {      
            outline: 1.2rem solid rgba($color-primary-dark,.8);
            z-index: 2;            
            transform: scale(1.1) translateY(-1rem);                                    
        }
                

        &-1 { top: -1rem; left: 10%; }
        &-2 { top: 2rem; right: 0; }
        &-3 { top: 10rem; left: 30%; }    
    }

    &:hover &__img:not(:hover) { transform: scale(.95) }    
}