.booking {            
    // transform: translateX(-10%);
    margin: 0 auto;
    width: 95%;
    height: 50rem;
    background-image: linear-gradient(105deg,
        rgba($color-grey-light-1, .85) 0%,        
        rgba($color-grey-light-1, .85) 50%,
        transparent 50%),
        url('../img/nat-10.jpg');        
    background-size: cover;
    box-shadow: $color-box-shadow-strong;
    border-radius: 5px;
    padding: 6.5rem 0;
    padding-left: 7rem;
    
    & .header-secondary {
        font-size: $font-size-xxl !important;
        font-weight: 500 !important;
    }

    &__forms {
        width: 50%;
        color: $color-grey-light;
        font-size: $font-size-m;
    }

    &__form {        
        position: relative;

        &:not(:last-child) { margin-bottom: 4.5rem; }

        & > * {            
            font-size: inherit;
        }
    }

    &__input {                
        color: $color-grey-dark;
        padding: 1.5rem 0;
        width: 75%;
        border: none;
        border-bottom: 3.5px solid transparent;
        outline: none;
        text-indent: 2rem;  
        
        

        &:focus:invalid { border-bottom: 3.5px solid $color-secondary-light; }
        &:focus:valid { border-bottom: 3.5px solid $color-primary-dark; }                
        
        &:focus:placeholder-shown { border-bottom: 3.5px solid $color-secondary-light; }      
        
        &:focus::-webkit-input-placeholder {
            transition: all .5s;
            color: transparent !important;
        }
        
        &:focus + label {
            color: $color-grey-dark;
            opacity: 1;
            transform: translateY(4.5rem);
        }

    }

    &__label {
        transition: all .5s;
        position: absolute;
        left: 2rem;
        top: 2rem;
        color: inherit;
        opacity: 0;
    }
}