.section-about {
    margin-top: -25vh;    
    padding: 20rem 0;
    background-color: $color-grey-light;    
    font-size: $font-size-m;
    color: $color-grey-dark;
    @include clearfix;                                    
}

.section-features {        
    transform: skewY(-$skew__feature-box);
    margin-top: -10rem;
    padding: 18rem 0;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, .8),
    rgba($color-primary-dark, .8)),
    url('/img/nat-1-large.jpg');
    background-position: top;
    background-size: cover;       

    & > * { transform: skewY($skew__feature-box); }
}

.section-tours {
    margin-top: -10rem;    
    padding: 25rem 0 15rem;
    background-color: $color-grey-light;        
    font-size: $font-size-xl;    
}

.section-stories {
    padding: 10rem 0;       
    position: relative;
}

.section-bookings {
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom,
    $color-primary-light,
    $color-primary-dark);
}