.main {
    background-color: $color-grey-light;    
    margin-top: -25vh;    
    padding-top: 20rem;
}

.section-about {
    font-size: $font-size-m;
    color: $color-grey-dark;
    @include clearfix;                                    
}

.section-features {    
    height: 95vh;
    padding: 18rem 0;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, .8),
    rgba($color-primary-dark, .8)),
    url('/img/nat-1-large.jpg');
    background-position: top;
    background-size: cover;       
}